<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style_about.css">
    <title>About me</title>
</head>
<body>
    <img src="../static/profile_photo.jpg">
    <table>
        <tr>
            <td><b>Name</b>: Jurij Sablić </td>
        </tr>
        <tr>
            <td><b>From</b>: Ljubljana, Slovenia </td>
        </tr>
        <tr>
            <td><b>Age</b>: 30</td>
        </tr>
        <tr>
            <td><b>Education</b>: University of Ljubljana, Faculty of Mathematics and Physics, Ljubljana, Slovenia </td>
        </tr>
        <tr>
            <td><b>Work</b>: National Institute of Chemistry, Ljubljana, Slovenia </td>
        </tr>
    </table>
</body>
</html>