<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Jurij Sablić | stran Fakebook</title>
    <link rel="stylesheet" href="../static/style_fakebook.css">
     <link rel="icon" href="../static/profile_photo.jpg" type="image/jpg" sizes="20x20">
</head>

<!--<body style="background-color: darkgray">-->
<body>
    <h1 id="title_fakebook">FAKEBOOK</h1> <button><a href=fakebook>en</a></button> <br>
    Iskalnik: <input id="search" type="text" placeholder="poišči prijatelja"><br><br>

    <img src="../static/profile_photo.jpg">

    <h2>Jurij Sablić</h2>
    <button class="text_red" type="button">Prijateljuj</button> <button type="button">Sledi</button> <br><br>

    <table>
        <tr>
            <td><b>Doma</b>: Ljubljana, Slovenia <button onclick="window.open('https://www.google.com/maps/place/Ljubljana/@46.0578162,14.4109731,11.25z/data=!4m5!3m4!1s0x476531f5969886d1:0x400f81c823fec20!8m2!3d46.0569465!4d14.5057515','_blank');">Zemljevid</button></td>
        </tr>
        <tr>
            <td><b>Živi</b>: Ljubljana, Slovenia <button onclick="window.open('https://www.google.com/maps/place/Ljubljana/@46.0578162,14.4109731,11.25z/data=!4m5!3m4!1s0x476531f5969886d1:0x400f81c823fec20!8m2!3d46.0569465!4d14.5057515','_blank');">Zemljevid</button></td>
        </tr>
        <tr>
            <td><b>Starost</b>: 30</td>
        </tr>
        <tr>
            <td><b>Izobrazba</b>: University of Ljubljana, Faculty of Mathematics and Physics, Ljubljana, Slovenia <button onclick="window.open('https://www.fmf.uni-lj.si/','_blank');">Povezava</button></td>
        </tr>
        <tr>
            <td><b>Zaposlitev</b>: National Institute of Chemistry, Ljubljana, Slovenia  <button onclick="window.open('https://www.ki.si/','_blank');">Povezava</button></td>
        </tr>
        <tr>
            <td><b>Število prijateljev</b>: 325</td>
        </tr>
    </table>
</body>
</html>